body {
    background: #2AA3B4 url(++theme++cgso.theme/img/cgso-background.jpg) no-repeat;
    background-position:bottom;
    background-attachment:fixed;
}

#visual-portal-wrapper {
    background: #fff;
    width:1140px;
    margin:0 auto;
}
